<h2 id="code-gov-program">Code.gov Program</h2>
<p>
  The
  <a href="https://sourcecode.cio.gov/" target="_blank" rel="noopener noreferrer"
    >Federal Source Code Policy</a
  >
  (FSCP) called for the establishment of the the Code.gov program office and corresponding technical
  platform of a website and application programming interface (API). The program office assists
  agencies with policy, acquisition, and code inventory creation. We are a small but mighty team
  with five members with expertise and beliefs pertaining to discovering, sharing, and open sourcing
  the People's code.
</p>
