<h2 id="contacting-program-office">Contacting the Code.gov Program Office</h2>
<p>
  Users of this website may send the Code.gov program office feedback or report an issue by sending
  an email to code@gsa.gov. If you choose to send us your personally identifiable information, we
  will only use that information to respond to your message. We only share the information you give
  us with another government agency if your question relates to that agency, or as otherwise
  required by law. Code.gov never collects information or creates individual profiles for the
  purposes of advertising, marketing, or any other commercial purpose. When you contact us, any
  personally identifiable information you provide is voluntary. Please do not include sensitive
  personally identifiable information or other sensitive information in the content of your email.
</p>
