<h2 id="information-collected">Information Collected and Stored Automatically</h2>
<p>
  We collect limited information about visits to Code.gov. This information is used to measure the
  number of visitors to the various sections of our website and to identify performance or problem
  areas. We also use this information to help us develop the site, analyze patterns of usage, and to
  make the site more useful. We do not share or sell visitor data for the purposes of advertising,
  marketing, or any other commercial purpose. This information is not used for associating search
  terms or patterns of site navigation with individual users.
</p>
<p>
  The information that is automatically collected and stored concerning your visit includes: 1) the
  domain from which you access the Internet (i.e., HHS.gov if you are connecting from a HHS account,
  or GMU.edu if you are connecting from George Mason University’s domain); 2) the date and time of
  your visit; 3) your location, as approximated by GPS, and other sensors; 4) the type of device you
  used to access Code.gov (i.e., mobile or desktop); 5) the operating system of the device you used
  to access Code.gov; 6) the pages you visit on Code.gov; 7) the Internet address of the website you
  came from if it linked you directly to Code.gov; and, 8) any search terms that you may enter when
  searching Code.gov.
</p>
