<h2 id="linking-policy">Linking Policy</h2>
<p>
  The pages on Code.gov may include hypertext links or pointers to information created and
  maintained by other public and private organizations. GSA provides these links and pointers solely
  for our visitors' information and convenience. When visitors select a link to an outside website,
  they are leaving the Code.gov site and are subject to the privacy and security policies of the
  owners/sponsors of the outside website.
</p>
<p>
  The inclusion of links and pointers to websites is not intended to assign importance to those
  sites or to the information contained on those sites. It is also not intended to endorse or
  recommend any views expressed or products or services offered on these sites. GSA does not control
  or guarantee the accuracy, relevance, timeliness or completeness of information contained on a
  linked website. GSA does not endorse the organizations sponsoring linked websites, and does not
  endorse the views they express or the products/services they offer. GSA cannot authorize the use
  of copyrighted materials contained in linked websites. Visitors must request such authorization
  from the sponsor of the linked website. GSA is not responsible for transmissions visitors receive
  from linked websites. GSA does not guarantee that outside websites comply with Section 508
  (Accessibility Requirements) of the Rehabilitation Act.
</p>
