<h1 id="protecting-privacy">Protecting Privacy and Security</h1>
<p>
  Protecting the privacy and security of individuals’ personal information is very important to us.
  We do not collect any information that directly identifies you when you visit Code.gov unless you
  choose to provide that information by contacting us. However, the website may collect a limited
  amount of information about your visit for the purposes of website analytics and customization.
  Please read this notice to understand what we do with the limited amount of information about your
  visit that we may collect.
</p>
