<h2 id="security">Security</h2>
<p>
  This website was built with code hosted on GitHub, Inc.
  <a href="https://help.github.com/articles/github-terms-of-service/">GitHub</a> and designed to
  enable the rapid deployment of government websites in a secure and readily accessible environment.
</p>
<p>
  The terms of service applicable to Federal users of GitHub states that it “will, in good faith,
  exercise due diligence using generally accepted commercial business practices for IT security, to
  ensure that systems are operated and maintained in a secure manner, and that management,
  operational and technical controls will be employed to ensure security of systems and data.
  Recognizing the changing nature of the Web, GitHub will continuously work with users to ensure
  that its products and services are operated and maintained in a secure manner. GitHub agrees to
  discuss implementing additional security controls as deemed necessary by the Agency to conform to
  the Federal Information Security Management Act (FISMA), 44 U.S.C. 3541 et seq.”
</p>
<p>
  We encourage you to visit
  <a href="https://help.github.com/articles/github-terms-of-service/">GitHub</a> if you have
  additional questions about the service.
</p>
