@import '~@code.gov/code-gov-style/_sass/_variables';

#about {
  padding-bottom: 2rem;
  padding-top: 4rem;

  header {
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 1.75em;
      margin: 0 auto;
      max-width: 17em;
      text-transform: uppercase;

      @media screen and (min-width: $small-screen) {
        font-size: 2em;
      }

      @media screen and (min-width: $medium-screen) {
        font-size: 3em;
      }
    }

    p {
      font-size: 1em;
      margin-top: 2rem;

      @media screen and (min-width: $medium-screen) {
        font-size: 1.5em;
      }
    }
  }

  .about-actions {
    margin-top: 2em;
    padding: 0;

    @media screen and (min-width: $small-screen) {
      font-size: 1.1em;
    }

    @media screen and (min-width: $medium-screen) {
      margin-top: 4em;
    }

    h2 {
      font-size: 1.3em;
      margin-top: 0;

      @media screen and (min-width: $small-screen) {
        font-size: 2.5em;
      }
    }

    li {
      margin-bottom: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
      position: relative;

      i {
        font-size: 1.2em;
      }
    }

    p {
      font-size: 0.95em;

      @media screen and (min-width: $small-screen) {
        font-size: 1.1em;
      }
    }

    a {
      text-decoration: none;
    }

    .about-action {
      text-align: center;

      @media screen and (min-width: $medium-screen) {
        @include width-third();
      }

      img {
        padding: 1rem;
        transition: 0.2s transform;
        &:focus,
        &:hover {
          transform: scale(1.1);
        }
      }

      a:focus,
      a:hover {
        text-decoration: none;
      }
    }
  }
}
