<h2 id="aboutthesourcecodepolicy">The Federal Source Code Policy</h2>
<p>
  The
  <a href="https://sourcecode.cio.gov/" target="_blank" rel="noopener noreferrer"
    >Federal Source Code Policy</a
  >
  (FSCP) was designed to support reuse and public access to custom-developed federal source code. It
  requires new custom-developed source code developed specifically by or for the federal government
  to be made available for sharing and re-use across all Federal agencies. Furthermore, the policy
  supports publishing open source software (OSS).
</p>
