.banner {
  background: url('/code-gov-style/assets/img/american_flag_1920x1280_gradient.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: $color-white;
  height: 112px;
  padding-bottom: 8rem;
  padding-top: 8rem;
  position: relative;
  text-align: center;

  .banner-content {
    transform: translateY(-50%);
    width: 100%;

    @media screen and (min-width: $medium-screen) {
      position: absolute;
      top: 50%;
    }

    .banner-title {
      color: #fff;
      font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      font-size: 2em;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;

      @media screen and (min-width: $small-screen) {
        font-size: 2.8em;
      }

      @media screen and (min-width: $medium-screen) {
        font-size: 3.2em;
      }
    }

    .banner-subsection {
      position: relative;

      &.width-half {
        @media screen and (max-width: $medium-screen) {
          margin-left: 0;
          margin-right: 0;
        }
      }

      .banner-subsection-content {
        width: 100%;
      }
    }

    .banner-subsection-title {
      color: #fff;
      font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
      font-size: 2rem;
      margin-bottom: 0;
      margin-top: 0;

      @media screen and (min-width: $medium-screen) {
        font-size: 3rem;
      }
    }

    .banner-subtitle {
      color: $color-white;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 1em;
      margin: 0 auto;
      max-width: 70rem;

      @media screen and (min-width: $small-screen) {
        font-size: 1.2em;
      }

      @media screen and (min-width: $medium-screen) {
        font-size: 1.4em;
      }
    }

    .banner-subsection-subtitle {
      color: $color-white;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 0.9em;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      max-width: 60rem;

      @media screen and (min-width: $small-screen) {
        font-size: 1.2em;
      }

      @media screen and (min-width: $medium-screen) {
        font-size: 1.2em;
      }
    }

    a {
      color: $color-white;

      &.link,
      :visited {
        color: $color-white;
      }
    }
  }

  @media screen and (min-width: $medium-screen) {
    height: 225px;
  }

  &.medium {
    height: 60vh;
  }

  &.large {
    @media screen and (min-width: $small-screen) {
      padding: 26rem 0 16rem;
    }

    /* need extra room for virtual buttons that appear on mobile devices */
    height: 85vh;

    /* want to give show mission a little */
    @media screen and (min-width: 1200px) {
      height: 90vh;
    }

    .banner-content {
      .banner-title {
        margin-top: 2rem;
        text-transform: none;
      }

      .banner-subtitle {
        margin-bottom: 0;

        @media screen and (min-width: $small-screen) {
          margin-bottom: 4rem;
        }
      }

      button {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}
