ul.breadcrumbs {
 
  li {

    &::before {
      content: '> ';
      font-weight: normal;
    }

    &:first-of-type {
      &::before {
        content: '';
      }
    }

    &:last-child {
      font-weight: $font-bold;
    }
  }
}
