// .card {
//   background-color: $color-white;
//   border: 1px solid $color-gray-light;
//   box-sizing: border-box;
//   overflow: hidden;
//   padding: 0.5em;
//   position: relative;

//   @media screen and (min-width: $medium-screen) {
//     padding: 1em;
//   }

//   &.focusable {
//     transition: all 0.2s ease;

//     &:hover {
//       box-shadow: 0 3px 5px rgba($color-gray-dark, 0.25);
//     }
//   }

//   .corner-tag {
//     color: white;
//     position: absolute;
//     bottom: auto;
//     left: auto;
//     right: 0;
//     top: 0;
//     width: 4.5em;
//     height: 3.75em;

//     /* stylelint-disable declaration-block-no-shorthand-property-overrides */
//     // color must be before url's for fallback, otherwise displays entire square as color
//     &.high {
//       background-color: #3c6;
//       background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22500%22%20width%3D%22700%22%3E%0A%20%20%3Cpolygon%20points%3D%220%2C0%20700%2C0%20700%2C500%200%2C0%22%20fill%3D%22%2333CC66%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E");

//       @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//         background: url("/code-gov-style/assets/img/corner-tags/high.svg");
//       }
//     }

//     &.medium {
//       background-color: #f93;
//       background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22500%22%20width%3D%22700%22%3E%0A%20%20%3Cpolygon%20points%3D%220%2C0%20700%2C0%20700%2C500%200%2C0%22%20fill%3D%22%23FF9933%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E");

//       @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//         background: url("/code-gov-style/assets/img/corner-tags/medium.svg");
//       }
//     }

//     &.low {
//       background-color: #f00;
//       background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22500%22%20width%3D%22700%22%3E%0A%20%20%3Cpolygon%20points%3D%220%2C0%20700%2C0%20700%2C500%200%2C0%22%20fill%3D%22%23F00%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E");

//       @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//         background: url("/code-gov-style/assets/img/corner-tags/low.svg");
//       }
//     }
//     /* stylelint-enable declaration-block-no-shorthand-property-overrides */

//     .corner-tag-value {
//       display: inline-block;
//       height: 25%;
//       line-height: 0.75;
//       position: absolute;
//       right: 0;
//       top: 12.5%;
//       text-align: center;
//       width: 62.5%;
//     }
//   }

//   .card-title {
//     clear: both;
//     color: $brand-blue;
//     font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//     font-size: 2rem;
//     font-weight: 500;
//     line-height: 1.3;
//     margin-bottom: 0;
//     margin-top: 0;
//     text-decoration: underline;

//     &:hover {
//       color: $brand-teal;
//     }

//     &:visited {
//       color: $brand-blue;
//     }
//   }

//   // make sure title doesn't extend all the way to the end of the card
//   // if there is a quality tag there
//   quality-tag + .card-title,
//   .corner-tag + .card-title {
//     padding-right: 2em;
//   }

//   .card-date {
//     color: #323a45;
//     font-size: 1em;
//   }

//   .card-description {
//     font-size: 0.95em;
//     margin: 0;
//     margin-bottom: 14px;
//     padding-bottom: 0.75rem;
//   }

//   hr {
//     border-top: 1px solid $color-gray-light;
//     display: block;
//     margin-left: -1.2em;
//     margin-right: -1.25em;
//     margin-bottom: 0;
//     margin-top: 2rem;
//     max-width: none;
//     visibility: visible;
//     width: auto;
//   }

//   dl {
//     font-size: 0.85714286em;
//     margin: 0;

//     &:first-of-type {
//       margin-top: 14px;
//       padding-top: 0.75em;
//     }

//     dt {
//       font-weight: bold;
//       display: block;
//       margin-left: 0;

//       @media screen and (min-width: $medium-screen) {
//         display: inline;

//         &::before {
//           content: "\A";
//           white-space: pre;
//         }
//       }
//     }

//     dd {
//       display: inline-block;
//       margin-inline-start: 0;
//       margin-bottom: 5px;
//       margin-top: 5px;

//       @media screen and (min-width: $medium-screen) {
//         margin-left: 15px;
//         margin-right: 2rem;
//       }

//       &:last-child {
//         margin-right: 0;
//       }
//     }

//     &.inline {
//       dt {
//         &::before {
//           content: none;
//           white-space: none;
//         }
//       }
//     }

//     &.inline-after-600px {
//       @media screen and (min-width: 595.5px) {
//         dt {
//           &::before {
//             content: none;
//             white-space: none;
//           }
//         }
//       }
//     }
//   }
// }
