[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: "code-gov"; // stylelint-disable-line font-family-no-missing-generic-family-keyword
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  // opacity: .8;

  /* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric, remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  // font-size: 120%;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  // text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon-close::before { content: '\e80d'; } /* '' */
.icon-search::before { content: '\e800'; } /* '' */
.icon-cancel::before { content: '\e801'; } /* '' */
.icon-ok-circled2::before { content: '\e802'; } /* '' */
.icon-arrows-cw::before { content: '\e803'; } /* '' */
.icon-user::before { content: '\e804'; } /* '' */
.icon-mail::before { content: '\e805'; } /* '' */
.icon-ok::before { content: '\e806'; } /* '' */
.icon-pencil::before { content: '\e807'; } /* '' */
.icon-floppy::before { content: '\e808'; } /* '' */
.icon-help-circled::before { content: '\e80c'; } /* '' */
.icon-twitter::before { content: '\f099'; } /* '' */
.icon-certificate::before { content: '\f0a3'; } /* '' */
.icon-menu::before { content: '\f0c9'; } /* '' */
.icon-doc-text::before { content: '\f0f6'; } /* '' */
.icon-plus-squared::before { content: '\f0fe'; } /* '' */
.icon-angle-up::before { content: '\f106'; } /* '' */
.icon-angle-down::before { content: '\f107'; } /* '' */
.icon-circle::before { content: '\f111'; } /* '' */
.icon-github::before { content: '\f113'; } /* '' */
.icon-github-circled::before { content: '\f09b'; } /* '' */
.icon-code::before { content: '\f121'; } /* '' */
.icon-angle-circled-left::before { content: '\f137'; } /* '' */
.icon-angle-circled-down::before { content: '\f13a'; } /* '' */
.icon-trash::before { content: '\f1f8'; } /* '' */
.icon-hourglass-3::before { content: '\f253'; } /* '' */
.icon-linkedin-squared::before { content: '\f30c'; } /* '' */
.icon-medium::before { content: '\f23a'; } /* '' */
.icon-link::before { content: '\e80b'; } /* '' */
.icon-mail-1::before { content: '\e80e'; } /* '' */
.icon-share::before { content: '\f1e0'; } /* '' */
