// form {
//   select {
//     min-height: 25px;
//   }

//   label {
//     span {
//       font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//     }
//   }

//   &.filter-form {
//     background-color: #fff;
//     border: 1px solid $color-gray-light;
//     padding: 1rem;
//     min-width: min-content;

//     fieldset {
//       border: none;
//       margin: 0;
//       padding: 0;
//     }

//     .category {
//       color: $color-black;
//       clear: both;
//       font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//       font-size: 1.5rem;
//       font-weight: 700;
//       line-height: 1.3;
//       margin-top: 5px;
//       margin-bottom: 4px;

//       li {
//         margin-bottom: 0.5rem;
//         margin-top: 0.5rem;

//         label {
//           font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//           font-feature-settings: "kern", "liga", "pnum";
//           font-size: 1.5rem;
//           font-weight: 400;
//           line-height: 1.5;
//           margin: 0.2rem;
//           -webkit-font-smoothing: antialiased;
//         }
//       }

//       > li {
//         margin-bottom: 1.5rem;
//         margin-top: 1.5rem;
//       }
//     }
//   }
// }
