$icon-color: $color-primary;

.icon {
  color: $icon-color;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;

  /* font-size: 120%; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

  &:not(.devicons) {
    font-family: "code-gov"; // stylelint-disable-line font-family-no-missing-generic-family-keyword
  }

  &::before {
    margin: 0;
  }
}
