input {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: $color-white;
  border: 2px solid $color-white;
  border-radius: 5px;
  box-sizing: border-box;
  color: #212121;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  height: auto;
  line-height: 1.3;
  margin: 0 auto;
  padding: 1rem 0.7em;


  /* we're adding a border so it aligns with the input */
  + button.go {
    background-color: $brand-primary !important;
    border: 2px solid $brand-primary;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: -10px !important;
    padding: 1rem 0.7rem;
    width: 40px;

    &:hover {
      background-color: $brand-blue-dark !important;
      border-color: $brand-blue-dark !important;
    }

  }
}

// custom checkboxes from uswds

// Custom checkboxes

[type=checkbox] {
  // The actual input element is only visible to screen readers, because
  // all visual styling is done via the label.
  @include sr-only();

  .lt-ie9 & {
    border: 0;
    float: left;
    margin: 0.4em 0.4em 0 0;
    position: static;
    width: auto;
  }
}

[type=checkbox] + label {
  cursor: pointer;
  font-weight: 400;
  margin-bottom: 0.65em;
  position: relative;
  padding-left: calc(1.5rem + 1em);
  vertical-align: top;
}

[type=checkbox] + label::before {
  background: $color-white;
  box-shadow: 0 0 0 1px $color-gray-medium;
  content: '\a0';
  display: inline-block;
  height: 1.75rem;
  line-height: 2rem;
  margin-right: 1em;
  position: absolute;
  text-indent: 0.15em;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle\0; // Target IE 11 and below to vertically center inputs
  width: 1.75rem;
  left: 0;
}

[type=checkbox]:checked + label::before,
[type=checkbox]:checked:disabled + label::before {
  background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2220%22%20height=%2220%22%20viewBox=%220%200%20216%20146%22%3E%3Cpath%20fill=%22%23000%22%20d=%22M168.86%2037.966l-11.08-11.08c-1.52-1.52-3.367-2.28-5.54-2.28-2.172%200-4.02.76-5.54%202.28L93.254%2080.414%2069.3%2056.38c-1.52-1.522-3.367-2.282-5.54-2.282-2.172%200-4.02.76-5.54%202.28L47.14%2067.46c-1.52%201.522-2.28%203.37-2.28%205.542%200%202.172.76%204.02%202.28%205.54l29.493%2029.493%2011.08%2011.08c1.52%201.52%203.368%202.28%205.54%202.28%202.173%200%204.02-.76%205.54-2.28l11.082-11.08L168.86%2049.05c1.52-1.52%202.283-3.37%202.283-5.54%200-2.174-.76-4.02-2.28-5.54z%22/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    background: $brand-blue;
  }
}

[type=checkbox]:disabled + label {
  color: $color-gray-lighter;
}

[type=checkbox]:disabled + label::before {
  background: $color-gray-lightest;
  box-shadow: 0 0 0 1px $color-gray-light;
  cursor: not-allowed;
}
