$menu-width: 320px;
$item-height: 5rem;

.mobile-menu-button {
  bottom: 0;
  cursor: pointer;
  float: left;
  font-size: 44px;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  position: absolute;
  top: 0;
  width: 64px;

  .icon {
    color: white;
    height: 44px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
  }
}

mobile-menu-button.dark {
  .icon {
    color: rgb(72, 85, 103);
  }
}

.mobile-menu {
  background-color: $color-gray-dark;
  bottom: 0;
  box-shadow: 0 0 10px 0 $color-black;
  font-size: 1.3em;
  left: 0;
  overflow: scroll;
  position: fixed;
  top: 0;
  transform: translateX(0 - $menu-width - 11px);
  transition: 0.5s transform ease;
  width: $menu-width;
  z-index: 20;

  &.open {
    transform: translateX(0);
  }

  > ul {
    width: $menu-width;

    li {
      border-bottom: 1px solid $color-cool-blue-light;
      float: left;
      width: 100%;

      a {
        border-left: 8px solid transparent;
        color: $color-white;
        display: block;
        line-height: $item-height;
        height: 100%;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        user-select: none;
        white-space: nowrap;

        &:focus,
        &:hover {
          border-left: 8px solid $brand-teal;
          color: white;
          text-decoration: none;
        }

        &.active {
          border-left: 8px solid $brand-teal;
          font-weight: bold;
          text-decoration: none;
        }

        &:visited {
          color: white;
        }
      }

      &.collapsed {
        a.dropdown::after {
          content: '\f107';
          float: right;
          font-family: "code-gov"; // stylelint-disable-line font-family-no-missing-generic-family-keyword
          font-size: 4rem;
          padding-right: 2rem;
        }
      }

      &.expanded {
        a.dropdown::after {
          content: '\f106';
          float: right;
          font-family: "code-gov"; // stylelint-disable-line font-family-no-missing-generic-family-keyword
          font-size: 4rem;
          padding-right: 2rem;
        }
      }
    }

    > li {
      &.search {
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;

        input {
          width: 80%;
        }

        button.go {
          margin-right: 0;
        }
      }

      > a {
        padding-left: 1rem;
      }

      &.expanded {
        ul {
          display: block;
        }
      }

      > ul {
        background-color: $brand-blue-gray;
        display: none;

        > li {
          background: #485568;

          &:last-child {
            border-bottom: none;
          }

          > a {
            padding-left: 2rem;
          }
        }
      }
    }
  }
}

.mobile-menu-underlay {
  background-color: $color-gray-dark;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  top: calc(#{$header-height} + #{$mobile-menu-offset});
  transition: 0.5s opacity;
  z-index: -1;

  @media screen and (max-width: $mobile-menu-offset-switch-high) {
    top: calc(#{$header-height} + #{$mobile-menu-offset-small});
  }

  @media screen and (max-width: $mobile-menu-offset-switch-low) {
    top: calc(#{$header-height} + #{$mobile-menu-offset});
  }

  &.active {
    background-color: $color-gray-dark;
    opacity: 0.7;
    pointer-events: all;
    z-index: 1;
  }
}
