.popper {
  cursor: pointer;
  position: relative;

  .popover {
    background: $color-gray-lighter;
    border-radius: 15px;
    color: black;
    display: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    width: 250px;
    z-index: 999;

    &.right {
      margin-left: 5px;
      margin-top: -5px;
    }

    &.left {
      right: 0;
      margin-top: -5px;
      margin-right: 5px;
    }

    .popover-title {
      font-size: 1.15em;
      font-weight: bold;
      margin-bottom: 2px;
    }
  }

  @media screen and (min-width: 1100px) {
    &:hover {
      .popover {
        &.desktop {
          @media (min-width: 801px) {
            display: block;
          }
        }
      }
    }
  }

  &.activated {
    .popover {
      &.desktop {
        @media (min-width: 801px) {
          display: block;
        }
      }

      &.mobile {
        @media (max-width: 801px) {
          display: block;
        }
      }
    }
  }
}
