// blockquote {
//   background-color: $color-gray-lightest;
//   border-left: 6px solid $brand-primary;
//   margin: 1.5em 0;
//   padding: 1em 1em 1em 2.5em;

//   p {
//     font-size: 0.95em;

//     &:first-child {
//       margin-top: 0;
//     }

//     &:last-child {
//       margin-bottom: 0;
//     }
//   }
// }

// .quote {
//   max-width: 43em;
//   text-align: left;

//   blockquote {
//     background-color: transparent;
//     border-left: none;
//     color: $color-gray-dark;
//     font-family: "TT Lakes", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
//     font-size: 1.75em;
//     font-weight: 500;
//     line-height: 1;
//     margin: 0;
//     margin-bottom: 0.2em;
//     padding: 0;
//     position: relative;
//     text-align: left;

//     @media screen and (min-width: $medium-screen) {
//       font-size: 2.2em;
//     }

//     &::before {
//       color: $brand-teal;
//       content: '“';
//       font-size: 1.75em;
//       left: -4.5rem;
//       padding-right: 0.5rem;
//       position: absolute;
//       top: -1.5rem;
//       vertical-align: middle;

//       @media screen and (min-width: $medium-screen) {
//         font-size: 2.2em;
//       }
//     }

//     &::after {
//       color: $brand-teal;
//       content: '”';
//       font-size: 1.75em;
//       line-height: 0.6;
//       padding-left: 1.5rem;
//       position: absolute;
//       vertical-align: text-top;

//       @media screen and (min-width: $medium-screen) {
//         font-size: 2.2em;
//       }
//     }
//   }

//   .attribution {
//     border-top: 1px solid $color-gray;
//     display: inline-block;
//     padding-top: 0.75em;

//     .press-logo {
//       max-height: 2em;
//       max-width: 10em;
//     }
//   }

//   &.light {
//     blockquote {
//       color: $color-white;
//     }

//     .attribution {
//       border-top: 1px solid $color-gray-lighter;
//     }
//   }
// }

// .banner {
//   .quote {
//     margin: 0 auto;
//   }
// }
