table {
  border-spacing: 0;
  border-collapse: separate;
  border-style: solid;
  border-width: 0;
  border-color: grey;
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  width: 100%;

  thead {
    display: table-header-group;
    border-color: inherit;
    vertical-align: middle;

    tr {
      display: table-row;
      border-color: inherit;
      vertical-align: inherit;

      th {
        background-color: $color-gray-cool-light;
        border-color: #e4e4e4;
        border-width: 1px;
        color: #323a45;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;
        font-size: 1.3em;
        text-align: center;

        &:first-child {
          border-top-left-radius: 5px;
        }

        &:last-child {
          border-top-right-radius: 5px;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border-color: $color-gray-lighter;
        border-width: 0;
        border-style: solid;
        font-weight: 400;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 1rem;

        &:first-child {
          border-left-width: 1px;
        }

        &:last-child {
          border-right-width: 1px;
        }
      }

      &:last-child {
        td {
          border-bottom-width: 1px;

          &:first-child {
            border-bottom-left-radius: 5px;
          }

          &:last-child {
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }
}
