$helvetica: (
  "Helvetica Neue",
  "Helvetica",
  "Arial",
  sans-serif,
);

$header-font-family: 'TT Lakes', $helvetica;

$brand-primary: #07648d; //blue-cool-60v

$brand-blue: #07648d; //remove
$brand-blue-dark: #074b69; //blue-cool-70v
$brand-blue-light: #e1f3f8; //blue-cool-5v

$brand-blue-gray-light: #71839d;  //remove
$brand-blue-gray: #485568; //remove

$brand-gray: #3d4551;   //gray-cool-70

$brand-teal: #1dc2ae; //mint-cool-30v
$brand-teal-medium: #00a398; //mint-cool-40v
$brand-teal-dark: #21827f; //mint-cool-50

$brand-purple: #3f57a6; //indigo-cool-60
$brand-purple-dark: #374274; //indigo-cool-70

// USWDS Colors
$color-primary:              #0071bc;
$color-primary-darker:       #205493;
$color-primary-darkest:      #112e51;

$color-secondary:            #e31c3d;
$color-secondary-dark:       #cd2026;
$color-secondary-darkest:    #981b1e;
$color-secondary-light:      #e59393; // lighten($color-secondary, 60%)
$color-secondary-lightest:   #f9dede; // lighten($color-secondary, 90%)

$color-white:                #fff;
$color-black:                #000;
$color-black-light:          #212121;

$color-blue:                 #0071bc;

$color-gray-dark:            #323a45;
$color-gray:                 #5b616b; // lighten($color-gray-dark, 20%)
$color-gray-medium:          #757575; // lightest gray that passes color contrast
$color-gray-light:           #aeb0b5; // lighten($color-gray-dark, 60%)
$color-gray-lighter:         #e4e4e4; // lighten($color-gray-dark, 80%)
$color-gray-second-lightest: #f6f6f6; // lighten($color-gray-dark, 91%)
$color-gray-lightest:        #f1f1f1;

$color-gray-warm-dark:       #494440;
$color-gray-warm-light:      #e4e2e0; // lighten($color-gray-warm-dark, 90%)
$color-gray-cool-light:      #dce4ef; // lighten($color-primary, 90%)

$color-gold:                 #fdb81e;
$color-gold-dark:            #9a6b01; //  darken($color-gold, 25%)
$color-gold-light:           #f9c642; //  lighten($color-gold, 20%)
$color-gold-lighter:         #fad980; //  lighten($color-gold, 60%)
$color-gold-lightest:        #fff1d2; //  lighten($color-gold, 83%)

$color-green:                #2e8540;
$color-green-light:          #4aa564; // lighten($color-green, 20%)
$color-green-lighter:        #94bfa2; // lighten($color-green, 60%)
$color-green-lightest:       #e7f4e4; // lighten($color-green, 60%)

$color-cool-blue:            #205493;
$color-cool-blue-light:      #4773aa; // lighten($color-cool-blue, 20%)
$color-cool-blue-lighter:    #8ba6ca; // lighten($color-cool-blue, 60%)
$color-cool-blue-lightest:   $color-gray-cool-light; // lighten($color-cool-blue, 90%)

$color-subnav-selection:     #485568;
$color-subnav-background:    #e9e9e9;

$featured-dark:               rgba(50, 58, 69, 1);
$featured-light:              rgba(215, 215, 215, 1);

$font-bold:                   700 !default;

$lead-font-size:              2rem !default;
$small-font-size:             1.4rem !default;

$small-screen: 481px;
$medium-screen: 600px;
$large-screen: 1000px;
$extra-large-screen: 1024px;

$focus-outline: 2px dotted $color-gray-light !default;

$header-height: 50px;

$mobile-menu-offset: 40px;
$mobile-menu-offset-small: 21px;
$mobile-menu-offset-switch-high: 799px;
$mobile-menu-offset-switch-low: 639px;

@mixin center-vertically {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

// from USWDS

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

@mixin span-columns($num-columns) {
  // 12 * colwidth + 11 * gutterwidth = 100%
  $column-width: 5%;
  $gutter-width: (97.6% - 12 * $column-width) / 11;

  display: inline-block;
  margin-left: $gutter-width / 2;
  margin-right: $gutter-width / 2;
  vertical-align: top;
  width: $num-columns * $column-width + ($num-columns - 1) * $gutter-width;

  &:first-child {
    margin-left: 0%;
  }

  &:last-child {
    margin-right: 0%;
  }
}

@mixin width-sixth() {
  @include span-columns(2);
}

@mixin width-quarter() {
  @include span-columns(3);
}

@mixin width-third() {
  @include span-columns(4);
}

@mixin width-half() {
  @include span-columns(6);
}

@mixin width-two-thirds() {
  @include span-columns(8);
}

@mixin width-three-quarters() {
  @include span-columns(9);
}

@mixin width-five-sixth() {
  @include span-columns(10);
}

@mixin width-whole {
  @include span-columns(12);
}

.width-sixth {
  @media screen and (min-width: $medium-screen) {
    @include width-sixth();
  }
}

.width-quarter {
  @media screen and (min-width: $medium-screen) {
    @include width-quarter();
  }
}

.width-third {
  @media screen and (min-width: $medium-screen) {
    @include width-third();
  }
}

.width-half {
  @include width-whole();

  @media screen and (min-width: $medium-screen) {
    @include width-half();
  }
}

.width-two-thirds {
  @media screen and (min-width: $medium-screen) {
    @include width-two-thirds();
  }
}

.width-three-quarters {
  @media screen and (min-width: $medium-screen) {
    @include width-three-quarters();
  }
}

.width-five-sixth {
  @media screen and (min-width: $medium-screen) {
    @include width-five-sixth();
  }
}

.width-whole {
  @media screen and (min-width: $medium-screen) {
    @include width-whole();
  }
}

$hr-color: $brand-teal;

/* at what pixels should switch from mobile to desktop menu */
$header-switch: 800.5px;
