/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.news {
  background-clip: content-box;
}

.explore-actions {
  .explore-action {
    @include at-media(tablet) {
      border-right: 2px solid #07648d;
      &:last-child {
        border-right: none;
      }
    }
  }
  border-top: 2px solid #07648d;
  border-bottom: 2px solid #07648d;
}

p,
ul,
li {
  color: #5b616b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5b616b;
  font-weight: 500;
}

select {
  -webkit-appearance: none;
}

.borderless-search {
  .borderless {
    border: 0px;
  }
}

.mobile-search-bar {
  flex: none;
  float: right;
  text-align: center;

  @include at-media($theme-header-min-width) {
    display: none;
  }

  + * {
    clear: both;
  }
}

.usa-nav__primary-item {
  a {
    color: #565c65;
  }

  &:hover {
    color: #07648d;
  }

  button: {
    font-weight: normal;
  }
}

.autocomplete {
  li {
    a {
      span {
        text-overflow: ellipsis;
        width: calc(100% - 50px);
      }
    }
  }
}

.usa-footer__secondary-section {
  @media (max-width: 879.5px) {
    background-color: #e1f3f8;
  }
}
