/* import CSS rules that allow you to use icons */

@import 'fonts.css';
@import '~@code.gov/code-gov-font/css/code-gov';
/*@import '~devicons/css/devicons.scss';*/

@import '~@code.gov/code-gov-style/_sass/_all.scss';

/* overwrite code-gov-style */

.banner {
  background-image: none;
}

html {
  background: #F0F3F7;

  #app {
    background: #F0F3F7;
  }
}


/* styles that apply to stuff around search box on multiple pages */

@import './base-filter-page.scss';

@import './home-about.scss';
@import './home-banner.scss';
@import './home-press.scss';

@import './project-page.scss';

@import './privacy-policy.scss';

@import './search.scss';

@import './repo-card.scss';
@import './repo-list.scss';

@import './roadmap.scss';
