/* import CSS rules that allow you to use icons */

@import 'fonts.css';
@import '~@code.gov/code-gov-font/css/code-gov';
/*@import '~devicons/css/devicons.scss';*/

$header-height: 50px;
@import './styles/theme/styles.scss';
// @import '~@code.gov/code-gov-style/_sass/_all.scss';

@import './styles/code-gov-design/all';
@import './overrides.scss';

html {
  background-color: $color-white;

  #app {
    background: $color-white;

    .icon {
      cursor: pointer;
    }
  }
}

/* styles that apply to stuff around search box on multiple pages */

@import './base-filter-page.scss';

@import './menu.scss';

@import './project-page.scss';

@import './privacy-policy.scss';

@import './search.scss';

@import './repo-card.scss';
@import './repo-list.scss';

@import './roadmap.scss';
@import './gov-banner.scss';

@import './compliance-dashboard.scss';
@import './json-schema.scss';

// overwrites and fixes
// weird fix for https://github.com/GSA/caribou/issues/76
ul.breadcrumbs {
  li {
    margin-right: 5px;
  }
}

// pads footnotes
[id*='fn'] {
  @media screen and (max-width: $header-switch) {
    margin-top: -60px;
    padding-top: 60px;
  }
  @media screen and (min-width: $header-switch) {
    margin-top: -90px; /* Size of fixed header */
    padding-top: 90px;
  }
}
