@font-face {
  font-family: 'code-gov';
  src: url('../assets/fonts/code-gov.eot?94232063');
  src: url('../assets/fonts/code-gov.eot?94232063#iefix') format('embedded-opentype'),
  url('../assets/fonts/code-gov.woff2?94232063') format('woff2'),
  url('../assets/fonts/code-gov.woff?94232063') format('woff'),
  url('../assets/fonts/code-gov.ttf?94232063') format('truetype'),
  url('../assets/fonts/code-gov.svg?94232063#code-gov') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('../assets/fonts/tt_lakes_medium-webfont.eot');
  src: url('../assets/fonts/tt_lakes_medium-webfont.eot') format('embedded-opentype'),
       url('../assets/fonts/tt_lakes_medium-webfont-subset.woff2') format("woff2"),
       url('../assets/fonts/tt_lakes_medium-webfont-subset.zopfli.woff') format("woff"),
       url('../assets/fonts/tt_lakes_medium-webfont-subset.ttf') format("truetype"),
       url('../assets/fonts/tt_lakes_medium-webfont.svg') format("svg"),
       url('../assets/fonts/tt_lakes_demibold-webfont.ttf') format("truetype"),
       url('../assets/fonts/tt_lakes_demibold-webfont.woff') format("woff"),
       url('../assets/fonts/tt_lakes_demibold-webfont.woff2') format("woff2");
  unicode-range: U+20-7E;
}