.gov-banner__dark {
  .usa-banner {
    background-color: #323a45;
  }

  .usa-banner__header-action,
  .usa-banner__button {
    color: #23c0ba;
  }

  .usa-banner__header-text,
  .usa-media-block__body > p {
    color: #ffffff;
  }
}
