.gov-banner {
  position: fixed;
  width:  100%;
  z-index: 4;

  .usa-banner__header-text,
  .usa-banner__header-action,
  .usa-media-block__body {
    font-size: 1.3rem;
  }

  .usa-accordion__button {
    font-size: 1.1rem;
  }

  .usa-banner__header-flag {
    width: 1.5rem;
  }

  .usa-banner__icon {
    width: 4.5rem;
  }

  .usa-banner__button:focus,
  .usa-banner__button:hover {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

.gov-banner__dark {
  .usa-banner {
    background-color: #323a45;
  }

  .usa-banner__header-action,
  .usa-banner__button {
    color: #23c0ba;
  }

  .usa-banner__header-text,
  .usa-media-block__body > p {
    color: #ffffff;
  }
}
