.news {
  background-color: $brand-blue-light;
  background-clip: content-box;

  h1,
  h2,
  h3 {
    color: $brand-blue-dark;
  }

  h1 {
    font-size: 1.1em;
    font-weight: 700;
  }

  h2 {
    padding-top: 3rem;
    text-align: center;
  }

  .news-item {
    background: $color-white;
    display: flex;
    margin: 10px;
    padding: 1.5rem;

    & div:nth-child(1) {
      order: 10;
    }

    p {
      margin: 0;
    }
  }

  .news-image {
    margin-right: 1em;
  }

  img {
    max-width: 108px;
  }
}
