.about {
  background-color: $brand-blue-light;
  padding: 3rem;

  h2 {
    text-align: center;
  }

  h2,
  h3 {
    color: $brand-blue-dark;
  }

  h3 {
    text-transform: uppercase;
  }

  li {
    margin: 5rem 0;
  }
}
