section#banner-home {
  /* this get the banner image to lay under the menu on the home page */
  margin-top: -50px;

  .banner-content {
    padding-top: 100px;
    position: absolute;
    top: 50%;

    /* adds some additional spacing between sections */
    .indented {
      @media screen and (max-width: 600px) {
        margin-top: 5rem;
      }
      @media screen and (min-height: 800px) and (min-width: 600px) {
        margin-top: 10rem;
      }
      @media screen and (max-height: 800px) and (min-width: 600px) {
        margin-top: 2rem;
      }
    }

    .banner-subtitle {
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    .banner-subsection {
      height: 14rem;

      @media screen and (min-height: 800px) and (min-width: 600px) {
        height: 17rem;
      }

      .banner-subsection-content {
        @include center-vertically();

        .banner-subsection-content-padder {
          .buttons {
            padding-top: 7px;
          }
        }
      }

      @media screen and (max-width: 600px) {
        &#banner-subsection-engage {
          display: none;
        }
      }

      @media screen and (min-width: 1200px) {
        &:first-child {
          .banner-subsection-content-padder {
            padding-right: 80px;
          }
        }

        &:last-child {
          .banner-subsection-content-padder {
            padding-left: 80px;
          }
        }
      }
    }

    //div between Search and Help Wanted
    .vertical-row {
      @media screen and (min-width: 600px) {
        display: inline-block;
        height: 17rem;
        width: 3px;
        background-color: $color-white;
        position: relative;
      }
    }

    .search-description-wrapper {
      margin: 0 auto;
      text-align: left;
      width: 100%;

      > div {
        text-align: left;
      }
    }
  }
  img.chat {
    height: 30px;
    vertical-align: middle;
  }

  .home-link {
    color: $brand-teal;
    &:hover {
      text-decoration: none;
    }
  }
}
