.about {
  background-color: $brand-blue-light;
  background-clip: content-box;

  header {
    p {
      padding: 0 3rem;
    }  
  }

  h2 {
    padding-top: 3rem;
    text-align: center;
  }

  h2,
  h3 {
    color: $brand-blue-dark;
    margin-bottom: 0;
  }

  h3 {
    text-transform: uppercase;
  }

  ul {
    padding: 0 3rem;
  }

  li {
    margin: 3rem 0;
  }

  @media screen and (min-width: $medium-screen) {
    h3 {
      margin-left: 66px; //icon size + grid gap
    }
  }
}

.about-icon {
  img {
    display: none;
  }

  @media screen and (min-width: $medium-screen) {
    display: flex;

    & :first-child {
      order: 10;
    }

    img {
      display: block;
      margin: 1.5em 1em 0 0;
      height: 56px;
    }

    p {
      flex-grow: 3;
    }
  }
}
