#explore {
  background: white;
  padding-bottom: 2rem;
  margin-top: 6rem;

  .explore-actions {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 2em;
    padding: 2rem 0 0;

    @media screen and (min-width: $small-screen) {
      font-size: 1.1em;
      padding: 2rem;
    }

    @media screen and (min-width: $medium-screen) {
      border-bottom: 2px solid $brand-blue-gray-light;
      border-top: 2px solid $brand-blue-gray-light;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 4em;
    }

    h2 {
      color: $brand-blue;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
      position: relative;

      i {
        font-size: 1.2em;
      }
    }

    p {
      font-size: 0.95em;

      @media screen and (min-width: $small-screen) {
        font-size: 1.1em;
      }
    }

    a {
      text-decoration: none;
    }

    .explore-action {
      text-align: center;

      @media screen and (min-width: $medium-screen) {
        border-right: 2px solid $brand-blue-gray-light;
        &:last-child {
          border-right: none;
        }
        margin-left: 0;
        margin-right: 0;
        padding-right: 3rem;
        &:last-child {
          padding-right: 0;
        }
        &:first-child {
          padding-left: 0;
        }
      }

      a:focus,
      a:hover {
        text-decoration: none;
      }
    }
  }
}
