.news {
  background-color: $brand-blue-light;
  background-clip: content-box;

  h1,
  h2,
  h3 {
    color: $brand-blue-dark;
  }

  h1 {
    font-size: 1.1em;
    font-weight: 700;
  }

  h2 {
    padding-top: 3rem;
    text-align: center;
  }

  .news-item {
    background: $color-white;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    margin: 10px;
    padding: 1.5rem;

    & div:nth-child(1) {
      order: 10;
    }

    @media screen and (min-width: $medium-screen) {
      grid-template-columns: 1fr 3fr;
    }

    .news-content h1,
    p {
      margin: 0;
    }
  }

  .news-image {
    max-width: 100%;
  }
}
