@import '~@code.gov/code-gov-style/_sass/_variables';

#press-section {
  .banner-content {
    transform: none;
    @media screen and (min-width:$medium-screen) {
      transform: translateY(-50%);
    }
  }

  #press-banner {
    background-attachment: "initial";
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; // HACK: This is a hack to prevent ugliness on iOS
    @media screen and (min-width: 768px) {
      background-attachment: fixed;
    }

    .press-container {
      @include clearfix;
      font-size: 1rem;
      margin: 0 auto;
      max-width: 23em;

      @media screen and (min-width: $medium-screen) {
        font-size: 2rem;
        max-width: 250rem;
      }

      .press-links {
        margin-top: 2em;
        text-align: center;

        @media screen and (min-width: $medium-screen) {
          margin-top: 0;
        }

        li {
          display: inline-block;
          margin-bottom: 0.5em;
          margin-left: 2rem;

          &:first-of-type {
            margin-left: 0;
          }

          .press-logo {
            backface-visibility: visible;
            max-height: 3em;
            transition: all 0.2s ease;
            transform-style: preserve-3d;
            transform: translate3d(0, 0, 0);
            -webkit-perspective: 1000;

            &:hover {
              transform: translateY(-2px);
            }

            @media screen and (min-width: $small-screen) {
              max-height: 4em;
            }
          }
        }
      }
    }
  }
}
