.home-container {
  margin: 0 auto;
  max-width: 1024px;
}

//Questions section
.questions {
  p {
    margin: 3rem auto 2rem;
    max-width: 75rem;
    font-size: 1.2em;
    padding-top: 4em;
  }
  img {
    max-width: 4%;
    max-height: 4%;
  }
  a {
    color: #23c0ba;
    text-decoration: underline;

    &:hover {
      color: $brand-teal;
    }
  }
  @media screen and (min-width: $medium-screen) {
    display: none;
  } //set to 480px
  @media screen and (max-width: $small-screen) {
    display: none;
  }
}

//Questions section for mobile
.questions-mobile {
  p {
    margin: 4rem 2.5rem -1.5rem;
    max-width: 75rem;
    font-size: 0.9em;
    text-align: left;
  }
  img {
    max-width: 5%;
    max-height: 5%;
  }
  .second-line {
    margin: 1.25rem -0.5rem 8.5rem 4.5rem;
  }
  a {
    color: #23c0ba;
    text-decoration: underline;

    &:hover {
      color: $brand-teal;
    }
  } //set to 481px
  @media screen and (min-width: $small-screen) {
    display: none;
  }
}

@keyframes zoomOutOnBackground {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#issue-banner-subsection-subtitle {
  max-width: 100%;
  width: 100%;
}

.scroll-indicator {
  padding-bottom: 4rem;
  margin: 0;

  @media screen and (min-width: $medium-screen) {
    padding-bottom: 9rem;
  }
}

.grid-half {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  @media screen and (min-width: $medium-screen) {
    grid-template-columns: 1fr 1fr;
  }
}
