// .search-input-wrapper {
//   position: relative;

//   .autocomplete-container {
//     display: none;
//     position: absolute;
//     width: 100%;

//     @media screen and (min-width: $small-screen) {
//       display: block;
//     }
//   }

// .search-description-wrapper {
//   font-weight: bold;
//   margin: 0 auto;
//   width: 100%;
// }

// .search-input-and-button-wrapper {
//   margin: 0 auto;
//   position: relative;
//   text-align: left;
//   width: 100%;

//   input {
//     font-style: italic;
//     text-align: center;
//     /* 100% minus width of the button */
//     width: calc(100% - 40px);
//   }

//   button.go {
//     border: 0px;
//     height: 40px;
//     margin-right: 0;
//     position: absolute;
//   }

//   .autocomplete {
//     width: calc(100% - 10px);
//   }
// }

// .icon-search {
//   color: $color-black;
// }
// }

// .mobile-menu {
//   .search-input-and-button-wrapper {
//     text-align: center;

//     button.go {
//       position: static;
//     }
//   }
// }

// .browse {
//   font-size: 1.6rem;
//   font-weight: bold;
//   margin-bottom: 4.5rem;
//   margin-top: 2rem;

//   select {
//     @include width-three-quarters();
//     background-color: $color-white;
//     border: 0.1rem solid $color-gray;
//     border-radius: 5px;
//     color: $color-black-light;
//     font-size: 1rem;
//     height: 3.7rem;
//     line-height: 1.3;
//     margin: 0;
//     padding: 1rem 3rem 1rem 0.7em;
//     text-transform: none;
//     vertical-align: middle;
//     width: 20rem;

//     @media screen and (min-width: $medium-screen) {
//       padding: 0.75rem 3rem 0.75rem 0.7em;
//     }
//   }
// }

// .search-results-content {
//   .search-form {
//     margin: 1em auto;

//     .search-input-and-button-wrapper {
//       input {
//         border: 1px solid $color-gray-light;
//       }

//       button.go {
//         background-color: $brand-primary !important;
//         border: none;

//         &:focus,
//         &:hover {
//           background-color: $brand-blue-dark !important;
//           border-color: $brand-blue-dark !important;
//         }
//       }
//     }
//   }

//   .search-input-container {
//     width: 100% !important;
//   }

//   .browse,
//   .search-description-wrapper {
//     display: none;
//     visibility: hidden;
//   }
// }
